.MovieDetails {
  position: absolute;
  left: 30%;
  top: 180px;
  margin: 30px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.MovieDetails__img-title-block {
  display: flex;
  flex-direction: column;
}

.MovieDetails__img-title-block img {
  width: 80%;
}

.MovieDetails__title-rate-block h2 {
  color: var(--medPurple);
}

.MovieDetails__title-rate-block p {
  padding-bottom: 20px;
}

.MovieDetails__overview-block {
  font-size: 1.2em;
}

.MovieDetails__date-block {
  margin-top: 10px;
}

@media (min-width: 600px) {
  .MovieDetails {
    left: 26%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 10px;
  }

  .MovieDetails__img-title-block {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
  }

  .MovieDetails__img-title-block img {
    width: 342px;
  }

  .MovieDetails__title-rate-block {
    padding: 0 10px;
  }

  .MovieDetails__title-rate-block p {
    padding-top: 40px;
  }

  .MovieDetails__overview-block {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 1.2em;
  }

  .MovieDetails__date-block {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}
