.MoviesList__list {
  width: 30%;
  list-style-type: none;
  margin: 0 20px;
  padding-bottom: 30px;
  border: 2px solid var(--medPurple);
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (min-width: 600px) {
  .MoviesList__list {
    width: 25%;
  }
}

.MoviesList__list li {
  padding: 5px 0 5px 5px;
  width: 100%;
}

.MoviesList__list li:hover {
  background: var(--medPurple);
  color: var(--pinkish);
  cursor: pointer;
}
