.MoviesList__list {
  width: 30%;
  margin: 0 20px 20px;
  padding-bottom: 30px;
  border: 2px solid var(--medPurple);
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (min-width: 600px) {
  .MoviesList__list {
    width: 25%;
  }
}

.MoviesList__list li {
  list-style-type: none;
  padding: 5px 0 5px 5px;
  width: 100%;
}

.MoviesList__list li:hover {
  background: var(--medPurple);
  color: var(--pinkish);
  cursor: pointer;
}

.MoviesList__list-btns button{
  width: 60px;
  border: none;
  border-radius: 5px;
  background: var(--darkPurple);
  color: var(--pinkish);
  height: 40px;
  font-size: 0.95em;
  margin-top: 15px;
}

.MoviesList__btn-prev {
  margin-left: 30px;
  margin-right: 20%;
}

.MoviesList__btn-next {
  margin-left: 20%;
  margin-right: 30px;
}
