.SearchBar {
  width: 30%;
  margin: 0 20px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 2px solid var(--darkPurple);
  border-bottom: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.SearchBar__input {
  outline: none;
  border: none;
  background: var(--lightPurple);
  color: var(--darkPurple);
  border-top-right-radius: 10px;
  height: 100%;
  width: 80%;
  font-size: 1em;
}

.SearchBar__icon {
  width: 25%;
  height: 100%;
  background: var(--lightPurple);
  color: var(--darkPurple);
  border-top-left-radius: 10px;
  padding: 15px 30px 15px 8px;
  font-size: 1.5em;
}


@media (min-width: 600px) {
  .SearchBar {
    width: 25%;
    margin-top: 80px;
  }

  .SearchBar__input {
    width: 85%;
    font-size: 1.2em;
  }

  .SearchBar__icon {
    width: 15%;
    padding: 12.5px;
  }
}